.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* Profile View Styling */
.profile-section {
  flex: 43%;
  background-color: #ffd300;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-header {
  text-align: center;
  margin-top: 15%;
  font-size: 210%;
  color: #373d40;
}

.profile-text {
  font-size: 130%;
  font-weight: 600;
  color: #373d40;
  text-align: center;
  padding: 0 20px;
  margin-top: 0px;
  margin-bottom: 10%;
  margin-left: 20%;
  margin-right: 20%;
}

.profile-toggle-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.profile-toggle-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #373d40;
  width: 60px; 
  height: 60px;
  border-radius: 50%; 
}

.profile-toggle-image {
  transition: transform 1s;
  cursor: pointer;
  max-width: 100%;
  max-height: 100%;
}

.profile-toggle-image.rotated {
  transform: rotate(-180deg);
  transition: transform 1s ease-in-out;
}

.right-section {
  min-height: 830px;
  flex: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Form Styling */
.user-form {
  display: flex;
  height: 100%;
  width: 70%;
  padding: 0;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  background-color: white;
  text-align: left;
}

.form-control {
  /* min-height: 5%; */
  /* height: 10%; */
  padding: 1%;
}

.form-item-label {
  color: #373d40;
  width: 22%;
  display: inline-block ;
  /* font-family: sans-serif; */
  font-size: 100%;
}

input{
  background-color: #f5f8f9;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 120%;
  width: 76%;
  padding: 3% ;
  margin: 1% ;
  box-sizing: border-box;
  transition: 0.6s;
  outline: none;
  -webkit-transition: 0.5s;
  font-size: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  font-size: 20px;
  content: url(./assets/icon/calendar.svg);
}

input:focus {
  border: 3px solid #cad7dd;
}

/* Text Container Styling */
.diary-container {
  position: absolute;
  background-color: orange;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  padding: 0 0px;
  left: 0;
  transition: opacity 1s ease-in-out, left 1s ease-in-out, width 1s ease-in-out;
}

.diary-container.active {
  opacity: 1;
  width: 0;
}

.diary-paragraph {
  font-size: 22px;
  margin-top: 50px;
}

.diary-text {
  margin-top: 200px;
  color: #373d40;
  margin-left: 20%;
  margin-right: 20%;
}

/* Radio Group Component Styling */
[type=radio] { 
  position: absolute;
  opacity: 0;
}

[type=radio] + img  {
  background-color:  #f5f8f9;
  padding: 15%;
  border-radius: 50%; 
  cursor: pointer;
}

[type=radio]:checked + img {
  background-color:  #cad7dd;
}

.radio-group{
  color:#cad7dd;
  display: inline-flex;
  padding: 12px ;
  box-sizing: border-box;
}

.radio-item-label {
  margin-right: 1%;
}

.radio-button-image{
  vertical-align:middle;
}

.radio-item-text {
  margin-left: 10%;
  margin-top: 5%;
  margin-right: 50%;
}

.diary-heading {
  font-size: 44px;
  margin-top: 0px;
}



::placeholder {
  color: #cad7dd;
}

/* Button Related */

.align-right {
  margin-top: 10%;
  text-align: right;
}

.submit-button{
  width: 28%;
  height: 200%;
  color: white;
  border-radius: 5px;
  font-size: 100%;
  background-color:#49c8a8 ;
  border: none;
}

.cancel-button{
  width: 28%;
  height: 200%;
  color: #373d40;
  margin-right: 3%;
  border-radius: 5px;
  font-size: 100%;
  background-color:#f5f8f9;
  border: none;
}


@media only screen and (max-width: 768px) {
  .container {
    display: block;
  }
  .anchor {
    position: relative;

  }

  .profile-section {
    height: 100%;
  }

  .right-section {
    height: 100%;
    background-color: #242424;
    margin: 0;
    padding: 0;
  }
  
  .user-form{
    background-color: #242424;
    width: 90%;
    margin: 0;
    padding: 0;
  }

  .form-control {
    display: grid;
  }

  .form-item-label {
    width: 40%;
    font-size: 120%;
  }
  .radio-item-label {
    display: inline-block ;
    width: 28%;
  }
  
  input{
    font-size: 18px;
    width: 100%;
  }

  .submit-button{
    padding:2%;
    height: 55px;
    width: 100%;
    margin-bottom: 0;
  }
  
  .cancel-button{
    padding:2%;
    height: 55px;
    width: 100%;
    margin-bottom: 10px;
  }

  .align-right {
    text-align: center;
  }
  
  .diary-container {
    top: 0;
    transition: opacity 1s ease-in-out, top 1s ease-in-out, height 1s ease-in-out;
  }

  .diary-container.active {
    height: 0%;
  }

  .profile-toggle-image.rotated {
    transform: rotate(-90deg);
    transition:none;
  } 
  
  .profile-toggle-image {
    transform: rotate(90deg);
    transition: none;
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
  }

  .diary-text {
    font-size: 10%;
    margin-top:  10%;
    margin-left: 6%;
    margin-right: 6%;
  }

  .diary-heading {
    font-size: 44px;
    margin-top: 20px;
  }

  .diary-paragraph{
    font-size: 20px;
    margin-top: 50px;
  }

  .profile-header {
    margin-top: 15%;
    font-size: 45px;
    color: #373d40;
  }

  /* Radio Group */
  [type=radio] + img  {
    padding: 50%;
  }
  
  .radio-group{
    display: inline-flex;
  }
  
  .radio-item-label {
    margin-right: 5%;
  }
  
  .radio-item-text {
    margin-right: 20%;
  }

}