.container {
  display: flex;
  height: 100vh;
}

.left-section {
  flex: 43%;
  background-color: #ffd300;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centered-image {
  max-width: 80%;
  max-height: 80%;
  margin-bottom: 0px;
}

.left-header {
  text-align: center;
  margin-top: 15%;
  font-size: 45px;
  color: #373d40;
}

.left-text {
  font-size: 24px;
  color: #373d40;
  text-align: center;
  padding: 0 20px;
  margin-top: 0px;
  margin-bottom: 10%;
  margin-left: 20%;
  margin-right: 20%;
}

.second-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #373d40;
  width: 80px; 
  height: 80px;
  border-radius: 50%; 
  margin-top: 20px; 
}

.second-image-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.second-image {
  transition: transform 1s;
  cursor: pointer;
  max-width: 100%;
  max-height: 100%;
}

.second-image.rotated {
  transform: rotate(540deg);
  transition: transform 1s ease-in-out;
}

.right-section {
  flex: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.user-form {
  display: flex;
  height: 100%;
  width: 80%;
  padding: 0;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  background-color: white;
  text-align: left;
}

.orange-container {
  position: absolute;
  background-color: orange;
  width: 100%;
  height: 100%;
  opacity: 1;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  padding: 0 0px;
  left: 0;
  transition: opacity 1s ease-in-out, left 1s ease-in-out, width 1s ease-in-out;
}

.orange-container.active {
  opacity: 1;
  width: 0;
}

[type=radio] { 
  position: absolute;
  opacity: 0;
}

[type=radio] + img  {
  align-items: center;
  justify-content: center;
  background-color:  #f5f8f9;
  border-radius: 50%; 
  cursor: pointer;
}

[type=radio]:checked + img {
  background-color:  #cad7dd;
}

.radio-button-image{
  width: 35px; 
  height: 35px;
  vertical-align:middle;
  padding: 10%;
  margin-right: 12px;
}

.orange-heading {
  font-size: 44px;
  margin-top: 0px;
}

.orange-paragraph {
  font-size: 22px;
  margin-top: 50px;
}

.orange-text {
  margin-top: 20%;
  color: #373d40;
  margin-left: 20%;
  margin-right: 20%;
}

form {
  background: white;
  display: flex;
  justify-content: space-around;
  margin: 0 ;
  max-width: 100%;
  width: 75%;
  padding: 30px 50px;
}

.form-control {
  min-height: 5%;
  height: 10%;
}

.radio-group{
  display: inline;
  padding: 12px ;
  box-sizing: border-box;
}

input{
  background-color: #f5f8f9;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 20px;
  width: 65%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  transition: 0.6s;
  outline: none;
  -webkit-transition: 0.5s;
}

::placeholder {
  color: #cad7dd;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  font-size: 20px;
  content: url(./assets/icon/calendar.svg);
}

input:focus {
  border: 3px solid #cad7dd;
}

.form-item-label {
  vertical-align:middle;
  width: 22%;
  display: inline-block ;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.radio-item-label {
  display: inline-block ;
  width: 22%;
  margin-right: 20px;
  height: 45%;
}

.submit-button{
  width: 35%;
  height: 60%;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  background-color:#49c8a8 ;
  border: none;
}

.cancel-button{
  width: 35%;
  margin-right: 25px;
  height: 60%;
  color: #373d40;
  border-radius: 5px;
  font-size: 20px;
  background-color:#f5f8f9;
  border: none;
}

.align-right {
  padding-top: 2%;
  padding-left: 40%;
}


@media only screen and (max-width: 768px) {
  .container {
    display: block;
  }

  .left-section {
    height: 100%;
  }

  .right-section {
    height: 100%;
    background-color: #373d40;
    margin: 0;
    padding: 0;
  }
  
  .user-form{
    background-color: #373d40;
    margin: 0;
    padding: 0;
  }

  .radio-item-label {
    display: inline-block ;
    width: 28%;
  }

  .form-control {
    display: grid;
  }
  
  input{
    font-size: 18px;
    width: 100%;
  }

  .form-item-label {
    width: 40%;
  }

  .submit-button{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 10%;
  }
  
  .cancel-button{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 10%;
    margin-top: 2%;
  }
  .align-right {
    padding-top: 0%;
    padding-left: 0%;
  }
  
  .orange-container {
    top: 0;
    transition: opacity 1s ease-in-out, top 1s ease-in-out, height 1s ease-in-out;
  }

  .orange-container.active {
    height: 0%;
  }

  .second-image.rotated {
    transform: rotate(-90deg);
    transition:none;
  } 
  
  .second-image {
    transform: rotate(90deg);
    transition: none;
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
  }

  .orange-text {
    margin: 4%;
  }

  .orange-heading {
    font-size: 44px;
    margin-top: 20px;
  }

  .orange-paragraph{
    font-size: 20px;
  }

  .left-header {
    margin-top: 15%;
    font-size: 45px;
    color: #373d40;
  }

}